@font-face {
	font-family: Montserrat;
	src: url("@/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Montserrat;
	src: url("@/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Montserrat;
	src: url("@/assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: Montserrat;
	src: url("@/assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
	font-style: normal;
	font-weight: 200;
}