@font-face {
  font-family: Montserrat;
  src: url("@/assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("@/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("@/assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("@/assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-image: url("@/assets/images/theme/light-bg.svg");
  font-family: Montserrat, sans-serif;
  transition: all 0.4s ease;
}

.none {
  display: none !important;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.dark {
  background-image: url("@/assets/images/theme/dark-bg.svg");
  background-color: #16171d;
  color: #fff;
}

.dark [alt] {
  color: #fff;
}

.dark a {
  color: #fff;
}

.title {
  font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  color: #212529;
  font-weight: 700;
  margin-bottom: 50px;
}
.dark .title {
  color: #f5f5f5;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.25rem, 0.114rem + 0.68vw, 0.625rem);
}
@media (max-width: 768px) {
  .flex-box--hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .tablet-hidden {
    display: none;
  }
}

.logo {
  width: 64px;
  height: 64px;
}

.nav__list {
  display: flex;
  gap: clamp(0.3rem, -0.5rem + 4vw, 2.5rem);
  font-size: clamp(0.75rem, 0.306rem + 0.93vw, 1rem);
}
.nav--hidden {
  display: block;
}
@media (max-width: 768px) {
  .nav--hidden {
    display: none;
  }
}

.XYcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-auth {
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 480px;
  margin: auto auto;
}
.container-auth__title {
  font-size: clamp(0.875rem, 0.602rem + 1.36vw, 1.625rem);
}
.container-auth__span {
  font-size: clamp(0.563rem, 0.494rem + 0.34vw, 0.75rem);
}
.container-auth__form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 clamp(0.625rem, -0.057rem + 3.41vw, 2.5rem);
  height: 100%;
  gap: 5px;
}
.container-auth__input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.container-auth__input--invalid {
  border: 1px solid red;
}

.container-auth button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-auth.active .sign-in {
  transform: translateX(100%);
}
@media (max-width: 768px) {
  .container-auth.active .sign-in {
    transform: translateY(100%);
  }
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-auth.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 10;
}

.container-auth.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}
.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle__text {
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
}
.toggle__title {
  font-size: clamp(0.813rem, 0.699rem + 0.57vw, 1.125rem);
}

.container-auth.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container-auth .toggle-left {
  transform: translateX(0);
}
@media (max-width: 425px) {
  .container-auth .toggle-left {
    transform: translateX(-10%);
  }
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container-auth.active .toggle-right {
  transform: translateX(200%);
}
@media (max-width: 425px) {
  .container-auth.active .toggle-right {
    transform: translateX(210%);
  }
}

/*# sourceMappingURL=main.css.map */
